 img {
      width: 200px;
      height: 100%;
    }

  .instituicao img {
    width: 60px;
    height: 100%;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  .instituicao {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }

  iframe {
    width: 250px;
    height: 100%;
  }

  .school-info {
    max-width: 600px;
  }