header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  background-color: #f2f2f2;
  padding: 4px  16px;
}

header nav a:hover {
  color: #f2f2f2;
  background-color: #980eb4;
}